*, *::before, *::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 100%;
}

body {
  background-image: url(../assets/images/background.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  font-family: 'Open Sans';
  color: white;
  min-height: 100%;
  padding-bottom: 200px;
}
.header {
  display: inline;
  font-size: 80px;
  color: white;
  text-decoration: none;
}

.header:hover {
  text-decoration: none;
  color: black;
}
.navbar {
  position: relative;
  padding: 0.5rem;
  background-color: rgba(139,0,0,1);
  z-index: 1;
}

.navbar .logo {
  position: relative;
  cursor: pointer;
}

.navbar .links-container {
  display: table;
  position: absolute;
  top: 0;
  right: 0;
  height: 100px;
  color: white;
}

.links-container .navbar-link {
  display: table-cell;
  position: relative;
  height: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  vertical-align: middle;
  color: white;
  font-size: 0.625rem;
  letter-spacing: 0.05rem;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}

.links-container .navbar-link:hover {
  color: rgb(233,50,117);
}

.links-container .navbar-link:active {
  color: rgb(233,50,117);
  background-color: white;
}

.container {
  margin: 0 auto;
  max-width: 64rem;
}

.container.narrow {
  max-width: 56rem;
}

@media (min-width: 640px) {
  html { font-size: 112%; }

  .column {
    float: left;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .column.full { width: 100%; }
  .column.two-thirds { width: 66.7%; }
  .column.half { width: 50%; }
  .column.third { width: 33.3%; }
  .column.fourth { width: 25%; }
  .column.flow-opposite { float: right; }
}

@media (min-width: 1024px) {
  html { font-size: 120%; }
}

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

.input {
  margin-bottom: 5px;
}

.work {
  border: 1px solid black;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgb(193, 21, 37)
}

.learn {
  border: 1px solid black;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgba(80, 220, 100, 1);
}

.create {
  border: 1px solid black;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgba(15, 168, 186, 1);
}

.inactive {
  border: 1px solid black;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  background-color: grey;
}

.button {
  margin-bottom: 5px;
}

.category-symbol {
  width: 5px;
  height: 5px;
  display: inline;
}

.task-link {
  display: inline-block;
  margin-bottom: 10px;
}

.theme-select {
  bottom: 0;
  right: 0;
  display: block
}

.nav {
  color: white;
  margin-left: 800px;
  text-decoration: none;
}
