.timer-container {
  position: absolute;
  left: 50%;
  top: 25%;
}

.timer-header {
  text-align: center;
}
.timer-button {
  border: 1px solid black;
  width: 100px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer
}

.timer-button :hover {

}

.start {
  background-color: green;
}

.reset {
  background-color: red;
}

.break {
  color: black;
  background-color: white;
}

.off {
  background-color: grey;
}
