
<section class='task-list container clearfix column fourth' ng-controller='TaskCtrl as task'>
  <h2 class="task-header">Task History</h2>
  <form>
    <button class="button" type="button" ng-click="task.setCategory(0)" ng-class="task.getClass(0)" value="Work">Work</button>
    <button class="button" type="button" ng-click="task.setCategory(1)" ng-class="task.getClass(1)" value="Learn">Learn</button>
    <button class="button" type="button" ng-click="task.setCategory(2)" ng-class="task.getClass(2)" value="Create">Create</button>
    <input type='text' placeholder="Enter new task" name='taskName' class="input" ng-model="task.taskName">
    <input class="button" type="submit" ng-click='task.submit()'>
  </form>
  <div class='tasks clearfix' ng-repeat='task in task.taskData | orderBy: "-sentAt" : reverse | limitTo:10'>
    <img class="category-symbol" src="assets/images/work.png" alt="work symbol" ng-show="task.category === 0">
    <img class="category-symbol" src="assets/images/learn.png" alt="learn symbol" ng-show="task.category=== 1">
    <img class="category-symbol" src="assets/images/create.png" alt="create symbol" ng-show="task.category === 2">
    <p class='task-link'>{{ task.name }}</p>
  </div>
</section>

  <section class="timer"  ng-controller="TimerCtrl as timer">
    <div class="timer-container">
      <h2 class="timer-header">{{ timer.timerSession.type }}
      <h1 class="timer-text">{{ timer.timerSession.remainingTime | timecode }}</h2>
      <a class="start-stop">
        <h2 class="timer-button start"
          ng-show="!timer.timerSession.started"
          ng-click="timer.timerSession.start()"> Start
        </h2>
        <h2 class="timer-button reset"
          ng-show="timer.timerSession.started"
          ng-click="timer.timerSession.reset()"> Reset
        </h2>
        <h2 class="timer-button break"
          ng-show="timer.timerSession.breakTime && timer.timerSession.completedSessions != 4"
          ng-click="timer.timerSession.reset(timer.timerSession.breakTime)"> Take Break
        </h2>
        <h2 class="timer-button break"
          ng-show="timer.timerSession.completedSessions === 4"
          ng-click="timer.timerSession.reset(timer.timerSession.breakTime)"> Take Long Break
        </h2>
      </a>
    </div>
  </section>
